.tittle{
    font-family: sans-serif;
    color: navy;
    font-weight: 900;
    font-size: 20px;
}

.outertable{
    border: solid 2px navy;
    font-family: sans-serif;
    background-color:lightgrey;
}

.innertable{
    border: solid 1px navy;
    font-family: sans-serif;
    width: 100%;
}

.jobtittle{
    font-weight: 600;
}

.name{
    font-family: sans-serif;
    color: navy;
    font-weight: 900;
    font-size: 30px;
}